﻿@model IEnumerable<Factory.Models.Component>

@{
    ViewBag.Title = "Komponenty";
}

<h2>Komponenty</h2>

<p>
    @Html.ActionLink("Dodaj komponent", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Nazwa komponentu: @Html.TextBox("SearchString")
        <input type="submit" value="Szukaj" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Surname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Surname)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.IDComponent }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.IDComponent }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.IDComponent })
            </td>
        </tr>
    }

</table>
