﻿@model IEnumerable<Factory.Models.User>

@{
    ViewBag.Title = "Pracownicy";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj pracownika", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Nazwisko pracownika: @Html.TextBox("SearchString")
        <input type="submit" value="Szukaj" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.IDUser }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.IDUser }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.IDUser })
            </td>
        </tr>
    }

</table>