﻿@{
    ViewBag.Title = "Szczegóły";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aplikacja zajmuje się dodawaniem komponentów przez pracowników. 
    Każdy pracownik może dodać do bazy wyprodukowany przez siebie komponent.</p>
