﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    aleja Niepodległości 789<br />
    81-861, Sopot<br />
    Tel: 578 565 159
</address>

<address>
    <strong>Pytania:</strong>   <a href="mailto:pytania@fabryka.pl">pytania@fabryka.pl</a><br />
    <strong>Dołącz do nas:</strong> <a href="mailto:praca@fabryka.pl">praca@fabryka.pl</a>
</address>