﻿@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Fabryka komponentów</h1>
    <p class="lead">Fabryka zajmuje się produkcją różnego typu komponentów.</p>
    <p>@Html.ActionLink("Dowiedz się wiecej ", "About")</p>
</div>